/* dark gray for text and icons #333333 */

* {
  font-family: 'Walter Turncoat', cursive;
}

/* Todo */
.todo-area {
  position: relative;
  color: #333333;
}

.todo-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

/* Temperature */
.todo.cold {
  background: #dfff80;
}
.todo.cool {
  background: #FFF665;
}
.todo.tepid {
  background: #FFD260;
}
.todo.warm {
  background: #FFB85C;
}
.todo.warmer {
  background: #FF9D58;
}
.todo.hot {
  background: #FF8254;
}
.todo.hotter {
  background: #FF6851;
}
.todo.hottest {
  background: #ff4d4d;
}
.todo.ablaze {
  background: #cf3f3f;
}

div.todo.done {
  background: #dcdcbe;
}

input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

div.todo {
  padding-top: 10px;
}

div.done .top {
  text-decoration: line-through;
}

div.open .top {
  text-decoration: none
}

div.top {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  text-align: left;
  padding: 0 10px 5px 0;
  justify-content: space-between;
}

.checkbox-container {
  position: relative;
  margin: 0 45px 0 0;
}

.delete-container {
  position: relative;
  margin: 0;
}

div.top input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 14px;
	top: 4px;
}

div.top .checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: rgba(255,255,255,.3);
}

div.top .checkmark:hover, .done div.top .checkmark:hover {
  background-color: rgba(255,255,255,.6);
}

div.top .text {
  text-align: left;
  width: 100%;
}

.bottom {
  display:flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
}
.bottom div {
  font-size: 80%;
}

.bottom .tag {
  background: rgba(255,255,255,.6);
  padding: 2px 5px;
}

.done div.top .checkmark {
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
}

form.todo .bottom label {
  background: white;
  padding: 0 5px;
}

form.todo .bottom .tag {
  background: white;
}

form.todo .bottom input[type="date"]{
  height: 20px;
  border-top: white solid 1px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.done div.top .checkmark::after {
  display: block;
}

div.top .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
}

.delete:hover {
  background-color: rgba(255,255,255,.6);
}

.delete::after, .delete::before {
  content: "";
  position: absolute;
}

div.top .delete::before {
  left: 14px;
	top: 8px;
	width: 15px;
	height: 24px;
	border: solid #333333;
	border-width: 0 0 3px 0;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

div.top .delete::after {
	left: 13px;
	top: -7px;
	width: 15px;
	height: 22px;
	border: solid #333333;
	border-width: 0 0 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

form.todo {
  background:#ededde;
}

form .top input {
  margin: 10px 0 0 10px;
  height: 38px;
  width: calc(100% - 60px);
  font-size: 22px;
  border: none;
}

form .top button {
  margin: 10px 0 0 10px;
	background: rgba(200,200,200,.4);
  font-size: 16px;
  font-weight: 700;
  border: none;
  height: 40px;
  cursor: pointer;
}

form .top button:hover {
  background: rgba(255,255,255,.8);
}

/* Filter by tag */

div.tag-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

form.todo .bottom {
  padding-bottom: 10px;
}

form.todo .bottom input, form.todo .bottom datalist {
  border: none;
  cursor: pointer;
}

div.tag-filters .label {
  padding: 5px;
  margin: 5px;
}

div.tag-filters .filter {
  color: white;
  background: gray;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

form .bottom .due {
  background: white;
}

div.tag-filters .filter:nth-child(1) {
  background: #99ffb3;
}

div.tag-filters .filter:nth-child(2) {
  background: #99ffe6;
}

div.tag-filters .filter:nth-child(3) {
  background: #99ffff;
}

div.tag-filters .filter:nth-child(4) {
  background: #99e6ff;
}

div.tag-filters .filter:nth-child(5) {
  background: #99ccff;
}

div.tag-filters .filter:nth-child(6) {
  background: #99b3ff;
}

div.tag-filters .filter:nth-child(7) {
  background: #9999ff;
}

div.tag-filters .filter:nth-child(8) {
  background: #b399ff
}

div.tag-filters .filter.selected {
  background: #808080;
}

/* App Control Buttons */

div.todo-content .todo-control {
  display: flex;
  flex-direction: row;
}

div.todo-content .todo-control button {
  color: white;
  font-weight: bold;
  background: #4d4d4d;
  border-radius: 3px;
  padding: 5px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  width: auto;
  font-size: 110%;
}

div.todo-content .todo-control label {
  font-weight: bold;
  color: #4d4d4d;
  padding: 5px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  width: auto;
  font-size: 110%;
}