/* Todo */
.todoarea {
  position: relative;
}
.todolist {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}


/* Temperature */
.todo.cold {
  background: white;
}
.todo.cool {
  background: lightyellow;
}
.todo.tepid {
  background: yellow;
}
.todo.warm {
  background: orange;
}
.todo.hot {
  background: red;
}

input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

div.todo {
  padding-top: 10px;
  border-bottom: darkgray 2px solid;
}

label.text.done {
  text-decoration: line-through;
}

label.text.todo {
  text-decoration: none
}

label.text {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  font-size: 22px;
  /* user-select: none; */
  border: none;
	text-align: left;
}

label.text input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 14px;
	top: 4px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

label.text .checkmark::hover {
  background-color: #ccc;
}

.bottom {
  display:flex;
  flex-direction: row;
  /* background: rgba(200,200,200,.2); */
  padding: 5px 10px;
  justify-content: space-between;
}
.bottom div {
  font-size: 80%;
}

label.text.done .checkmark {
  background-color: darkgray;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

label.text.done .checkmark::after {
  display: block;
}

label.text .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete {
  position: absolute;
  top: 0;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  cursor: pointer;
}

.delete::hover {
  background-color: darkgray;
}

.delete::after, .delete::before {
  content: "";
  position: absolute;
}

label.text .delete::before {
  left: 14px;
	top: 8px;
	width: 15px;
	height: 24px;
	border: solid white;
	border-width: 0 0 3px 0;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

label.text .delete::after {
	left: 13px;
	top: -7px;
	width: 15px;
	height: 22px;
	border: solid white;
	border-width: 0 0 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}