body {
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
}

.App-title {
  padding: 10px;
	margin: 0;
	font-size: 40px;
  display: inline-block;
  color: white;
  background: linear-gradient(to right, red, orange , yellow, limegreen, cyan, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

